.schedule-wrapper {
  width: 100%;
  background-color: var(--bg-darker);
  margin: 1em 0;
}

.schedule {
  display: flex;
  flex-direction: column;

  padding: 0.2em 2em;
  width: 90%;
  margin: auto;
}

.schedule__info-top,
.schedule__info-bottom {
  display: flex;
  justify-content: space-between;
}

.schedule__procedure {
  font-size: 1.2em;
}

.schedule__hour {
  font-size: 1.2em;
  font-weight: 500;
}

.schedule__info-bottom {
  margin-top: 0.7em;

  color: var(--text-gray);
  font-size: 0.9em;
}

.schedule__field {
  padding: 0.1em;
  margin-left: 15%;
}

@media (min-width: 768px) {
  .schedule {
    width: 85%;
  }
}

@media (min-width: 1000px) {
  .schedule-wrapper {
    font-size: 18px;
  }
}