.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedules {
  width: 100%;
  max-width: 650px;
  height: 35vh;
}

.schedules__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  width: min(90%, 32em);
  margin: auto;
}

.schedules__header__date {
  text-decoration-line: underline;
}

.schedules__header__date--desktop {
  display: none;
}

@media (min-width: 768px) {
  .dashboard {
    padding: 0 1.5em;
  }

  .schedules__header {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 1000px) {
  .dashboard {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
  }

  .schedules {
    height: 75vh;
    margin-left: 2em;
  }

  .schedules__header {
    padding: 0 0 1em;
    width: 100%;
  }

  .schedules__header__date {
    display: none;
  }

  .schedules__header__date--desktop {
    display: inline-block;
    text-decoration: none;
    padding-top: 0;
    padding-left: 0;
  }
}