.schedule-wrapper {
  width: 100%;
  background-color: rgba(146, 146, 146, 0.1);
  margin: 0.5em 0;
}

.schedule {
  display: flex;
  flex-direction: column;

  border-left: 4px solid #001AFF;
  padding: 0.2em 2.8em;
  width: 75%;
  margin: auto;
}

.schedule__info-top,
.schedule__info-bottom {
  display: flex;
  justify-content: space-between;
}

.schedule__procedure {
  font-size: 1.2em;
  color: #001AFF;
}

.schedule__hour {
  font-size: 1.2em;
  font-weight: 500;
}

.schedule__info-bottom {
  margin-top: 0.7em;

  color: #6b6b6b;
  font-size: 0.9em;
}

.schedule__field {
  padding: 0.1em;
  margin-left: 15%;
}