.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.clients__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
}

@media (min-width: 768px) {
  .clients {
    width: 50%;
  }
}